@using WebUI.Models
@model IEnumerable<Article>

@{
    ViewBag.Title = "Index";
}





@foreach(var article in Model){
    <div class="blog-post">

        <h2 class="blog-post-title">@article.Title</h2>
        <p class="blog-post-meta">@article.CreateDate</p>
        <p>@article.Description</p>

    </div>

}


<br />


@section Header{
<h1 class="blog-title"> Заголовок блога</h1>
<p class="lead blog-description">Описание блога</p>
}


