@model WebUI.Models.Article

@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2><br />

@Model.Text <br />


@Html.ActionLink("Изменить", "ModifiArticle", "Article", new { id = Model.ArticleId}, null);


