@model WebUI.Models.Article

@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="blog-post">
    <h2 class="blog-post-title">@Model.Title</h2>
    <p class="blog-post-meta">@Model.CreateDate</p>

    <p>@Model.Text</p>

</div>




