<!DOCTYPE html>
<html>
<head>
    
   
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
</head>
<body>
    

    <div class="container body-content">
        <p>начало рендер боди</p>
        
        @RenderBody()
        
    </div>

    
</body>
</html>